body{

  /*styling*/
  margin: 0px;
  user-select:none;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
#Content{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
#Descrb{
  font-size: 8vh;
  font-family: Helvetica;
  text-align: center;
  margin-top: 15vh;
  color: white;
  animation: Contentonload 1s ease-in-out;
}
.Box{
  display: inline-block;
  color: #BCBBB7;
  width: 33.3vw;
  height: 100vh;
  opacity: 90%;
  border-radius: 1.25vh;
  background-color: #262421;
  animation: Contentonload 1s ease-in-out;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 3.75vh;
  font-size: 2.5vh;
  font-family: Helvetica;
  text-align: center;

}
.ContentLink{
  font-size: 3vh;
  /*styling*/
  position: relative;
  margin-top: 0.75vh;
  color: #ffffff;
  background-color: #E96245;
  border: none;
  display: block;
  padding-top: 1.875vh;
  padding-bottom: 1.875vh;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  margin-top: 50vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3vh;
  cursor: pointer;
  transition: background-color 0.5s;
}
/*Animation for the active button on site load*/
@keyframes button-load{
  0%{
    background-color: #1d1a19;
  }
  100%{
    background-color: #E96245;
  }
}
@keyframes pic1{
  0%{
    transform: translateX(-40px);
    opacity: 0%;
  }
  100%{
    transform: translateX(0);
    opacity: 70%;
  }
}
@keyframes pic2{
  0%{
    transform: translateX(40px);
    opacity: 0%;
  }
  100%{ 
    transform: translateX(0);
    opacity: 70%;
  }
}
@keyframes Contentonload{
  0%{
    transform: translateY(40px);
    opacity: 0%;
  }
  100%{ 
    transform: translateY(0);
    opacity: 90%;
  }
}
